
.gmbr{
    width: 120px;
    
}
.box1{
   
    width: 320px;
    height: 400px;
    margin-left: 100px;
}

.img{
    width: 120px;
}

.box2{
   background-color: rgb(23, 89, 116);

   

}       